@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #111722;
  --color-sidebar-dark: #1a2436;
  --color-card-dark: #1f2a3e;
  
  --font-display: var(--font-lexend);
  --font-body: var(--font-noto-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111722;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
